@charset "UTF-8";
/**
 * BASE SIZE
 * All calculations are based on this. It’s recommended that
 * you keep it at 1rem because that is the root font size. You
 * can set it to whatever you like and whatever unit you like.
 */
/**
	* SIZE SCALE
	* This is a Major Third scale that powers all the utilities that
	* it is relevant for (font-size, margin, padding). All items are
	* calcuated off the base size, so change that and cascade across
	* your whole project.
	*/
/**
	* COLORS
	* Colors are shared between backgrounds and text by default. 
	* You can also use them to power borders, fills or shadows, for example.
	*/
/**
	* CORE CONFIG
	* This powers everything from utility class generation to breakpoints
	* to enabling/disabling pre-built components/utilities.
	*/
.bg-primary {
  background: #231651;
}

.bg-secondary {
  background: #ff8484;
}

.bg-secondary-shade {
  background: #ff5151;
}

.bg-tertiary {
  background: #2c988c;
}

.bg-tertiary-glare {
  background: #d6fff6;
}

.bg-quaternary {
  background: #2374ab;
}

.bg-light {
  background: #fafafa;
}

.bg-light-shade {
  background: #eeeeee;
}

.bg-grey {
  background: #c4c4c4;
}

.color-primary {
  color: #231651;
}

.color-secondary {
  color: #ff8484;
}

.color-secondary-shade {
  color: #ff5151;
}

.color-tertiary {
  color: #2c988c;
}

.color-tertiary-glare {
  color: #d6fff6;
}

.color-quaternary {
  color: #2374ab;
}

.color-light {
  color: #fafafa;
}

.color-light-shade {
  color: #eeeeee;
}

.color-grey {
  color: #c4c4c4;
}

.font-base {
  font-family: "Source Code Pro", monospace;
}

.font-display {
  font-family: "Staatliches", cursive;
}

.gap-top-300 {
  margin-top: 0.8rem;
}

.gap-top-400 {
  margin-top: 1rem;
}

.gap-top-500 {
  margin-top: 1.33rem;
}

.gap-top-600 {
  margin-top: 1.77rem;
}

.gap-top-700 {
  margin-top: 2.4rem;
}

.pad-top-300 {
  padding-top: 0.8rem;
}

.pad-top-400 {
  padding-top: 1rem;
}

.pad-top-500 {
  padding-top: 1.33rem;
}

.pad-top-600 {
  padding-top: 1.77rem;
}

.pad-top-700 {
  padding-top: 2.4rem;
}

.text-300 {
  font-size: 0.8rem;
}

.text-400 {
  font-size: 1rem;
}

.text-500 {
  font-size: 1.33rem;
}

.text-600 {
  font-size: 1.77rem;
}

.text-700 {
  font-size: 2.4rem;
}

.weight-medium {
  font-weight: 500;
}

.weight-bold {
  font-weight: 700;
}

@media screen and (min-width: 48em) {
  .md\:text-300 {
    font-size: 0.8rem;
  }
  .md\:text-400 {
    font-size: 1rem;
  }
  .md\:text-500 {
    font-size: 1.33rem;
  }
  .md\:text-600 {
    font-size: 1.77rem;
  }
  .md\:text-700 {
    font-size: 2.4rem;
  }
}

/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.wrapper {
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 1.33rem;
}

.textbox {
  width: 100%;
  height: 8em;
  resize: none;
}

.hidden {
  display: none;
}

.character {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
  -ms-grid-rows: (auto)[7];
      grid-template-rows: repeat(7, auto);
      grid-template-areas: "name_ name_ name_" "class assignment ." "resistances resistances resistances" "skills-and-domains abilities equipment" "skills-and-domains knacks bonds" "skills-and-domains refresh fallout" ". notes notes";
  gap: 1em;
}

.character .name {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: name_;
}

.character .class {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: class;
}

.character .assignment {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: assignment;
}

.character .resistances {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: resistances;
}

.character .skills-and-domains {
  -ms-grid-row: 4;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: skills-and-domains;
}

.character .abilities {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: abilities;
}

.character .equipment {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  grid-area: equipment;
}

.character .knacks {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
  grid-area: knacks;
}

.character .bonds {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
  grid-area: bonds;
}

.character .refresh {
  -ms-grid-row: 6;
  -ms-grid-column: 2;
  grid-area: refresh;
}

.character .fallout {
  -ms-grid-row: 6;
  -ms-grid-column: 3;
  grid-area: fallout;
}

.character .notes {
  -ms-grid-row: 7;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: notes;
}

.resistances > :first-child {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (12ch)[6];
      grid-template-columns: repeat(6, 12ch);
  -ms-grid-rows: 2rem 2rem;
      grid-template-rows: 2rem 2rem;
  -webkit-column-gap: 1ch;
          column-gap: 1ch;
}

body {
  line-height: 1.5;
  overflow-x: hidden;
  padding-bottom: 1.77rem;
  font-weight: 500;
  font-family: "Source Code Pro", monospace;
  background: #fafafa;
  color: #231651;
}

h1,
h2,
h3 {
  line-height: 1.2;
  font-family: "Staatliches", cursive;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 1.77rem;
}

h3 {
  font-size: 1.33rem;
}

a {
  color: currentColor;
}

:focus {
  outline: 2px solid;
  outline-offset: 0.25rem;
}
/*# sourceMappingURL=global.css.map */