// First up: config
@import "config";

// Next: pull in gorko for design tokens
@import "C:/Users/timob/AppData/Roaming/npm/node_modules/gorko/gorko.scss";

// Pull in modern reset
@import "reset";

// Utilities
@import "utilities/wrapper";

// Blocks
@import "blocks/character";

// Global CSS starts
body {
    line-height: 1.5;
    overflow-x: hidden;
    padding-bottom: get-size("600");

    @include apply-utility("weight", "medium");
    @include apply-utility("font", "base");
    @include apply-utility("bg", "light");
    @include apply-utility("color", "primary");
}

h1,
h2,
h3 {
    line-height: 1.2;
}

h1 {
    font-size: get-size("700");
}

h2,
h3 {
    font-size: get-size("600");
}

a {
    color: currentColor;
}

table {
    border-collapse: collapse;
}

:focus {
    outline: 2px solid;
    outline-offset: 0.25rem;
}
