* {
    box-sizing: border-box;
}

main {
    display: grid;
    grid-template-areas:
        "name   name   name "
        "class  class  assgn"
        "res    res    res  "
        "snd    abils  equip"
        "snd    knacks bonds"
        "snd    refr   fall"
        "  .    notes  notes";
    grid-template-columns: 20ch repeat(2, minmax(10em, 20em));
    grid-auto-rows: minmax(5em, max-content);
    gap: 2rem 1rem;
    flex: 1 0 auto;
}

ul {
    list-style: none;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Staatliches", cursive;
    font-size: 2rem;
    margin: 0;
    line-height: 1.5;
}

article {
    max-width: 72ch;
}

h3 {
    font-family: "Source Code Pro", monospace;
    font-size: 1.2rem;
    display: inline;
}

nav ul {
    display: flex;
    gap: 1em;
}

.flex {
    display: flex;
    align-items: baseline;
}

.gap-500 {
    gap: 0.7em;
}

.gap-top-700 {
    margin-top: 1.5rem;
}

.wrapper {
    max-width: 70rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0 0.8rem;
}

.font-size-700 {
    font-size: 1.5rem;
}

footer {
    display: flex;
    flex-shrink: 0;
    margin-top: auto;
    /* position: sticky; */
}

footer > :last-child {
    margin-left: auto;
}

body,
input,
textarea,
button {
    font-family: "Source Code Pro", monospace;
    font-size: large;
}

textarea {
    overflow: auto;
    padding: 1ch;
    width: 90%;
}

input[type="text"] {
    padding: 0.5rem;
    font-size: 1.5rem;
}

.name {
    grid-area: name;
}

.name input {
    font-family: "Libre Barcode 39 Text", cursive;
    font-size: 3rem;
}

.class {
    grid-area: class;
}

.class input {
    width: 90%;
}

.assignment {
    grid-area: assgn;
}

.knacks {
    grid-area: knacks;
}

.equipment {
    grid-area: equip;
}

.refresh {
    grid-area: refr;
}

.notes {
    grid-area: notes;
}

.abilities {
    grid-area: abils;
}

.abilities ul {
    max-height: 25vh;
    overflow: auto;
}

.abilities ul * + * {
    margin-top: 0.8rem;
}

.abilities-header {
    display: flex;
    align-items: baseline;
}
.abilities-header a {
    padding-left: 0.5rem;
    /* margin-left: auto; */
}

.tab-bar {
    box-sizing: unset;
    display: flex;
    /* gap: 1rem; */
    border-bottom: 2px solid black;
    /* padding: 0.5rem; */
}

.tab button {
    all: unset;
    font-family: "Staatliches";
    padding-inline: 0.8em;
    padding-block: 0.4em;
    font-size: 2.5rem;
}

.tab.selected {
    border: 2px solid black;
    border-bottom: none;
    /* background-color: rgba(0, 0, 0, 0.4); */
}

.chosen {
    border-left: 2px solid black;
}

.bonds {
    grid-area: bonds;
}

.skills-and-domains {
    grid-area: snd;
}

.fallout {
    grid-area: fall;
}

.io {
    grid-area: io;
}

.resistances {
    grid-area: res;
}

.resistances input[type="number"] {
    width: 11ch;
    text-align: center;
}

.resistances table {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
}

.resistances thead,
.resistances tbody,
.resistances thead tr,
.resistances tbody tr {
    display: contents;
}

.resistances td {
    display: flex;
    justify-content: center;
}

.hidden {
    display: none;
}
