@use "./footer";

.character {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: repeat(7, auto);
    grid-template-areas:
        "name_ name_ name_"
        "class assignment ."
        "resistances resistances resistances"
        "skills-and-domains abilities fallout"
        "skills-and-domains equipment bonds"
        "skills-and-domains refresh refresh"
        ". notes notes";
    gap: get-size("600");
    margin-bottom: footer.$height;

    .name {
        grid-area: name_;
    }

    .class {
        grid-area: class;
    }

    .assignment {
        grid-area: assignment;
    }

    .resistances {
        grid-area: resistances;
    }

    .skills-and-domains {
        grid-area: skills-and-domains;
    }

    .abilities {
        grid-area: abilities;
    }

    .equipment {
        grid-area: equipment;
    }

    .knacks {
        grid-area: knacks;
    }

    .bonds {
        grid-area: bonds;
    }

    .refresh {
        grid-area: refresh;
    }

    .fallout {
        grid-area: fallout;

        display: flex;
        flex-direction: column;
        > :last-child {
            flex-grow: 1;
        }
    }

    .notes {
        grid-area: notes;
    }
}
