.checkbox-list {
    label {
        margin-left: 0.5em;
    }

    > li {
        > :first-child {
            display: flex;
            align-items: center;

            > :last-child {
                margin-left: auto;
            }
        }
    }

    .add-knack-button {
        all: unset;
        padding-inline: 0.5rem;

        &:hover {
            cursor: pointer;
        }
    }
}
