$inner-height: 4em;
$padding: 0.5em;

$height: $inner-height + $padding;

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: $inner-height;
    padding: $padding 1em;

    display: flex;
    align-items: center;

    > :last-child {
        margin-left: auto;
    }
}
